nav{
	/*background-color: rgba(0, 0, 0, 0.69) !important;*/
	background-color: rgba(11, 167, 167, 0.68) !important;
}

nav .brand-logo{
	margin-left: 10px;
}

.collapsible-header.ng-binding.active {
    font-weight: bold;
}

.pagination li.active {
    background-color: #4AB5B5 !important;
}

.pagination li {
    font-size: inherit !important; 
}

.collection .collection-item:last-child {
     border-bottom: 1px solid #e0e0e0 !important; 
}