<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Cube26 Assignment</title>
    <meta name="viewport" id="view" content="width=device-width, initial-scale=1.0">

    <!--  Favicon -->
  	<link rel="icon" href="img/favicon-32x32.png">

    <link href="css/app.css" rel="stylesheet" type="text/css">
   	<link href="components/materialize/css/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="css/icon.css" rel="stylesheet">

    <link href="css/sweetalert.css" rel="stylesheet" type="text/css"> 
  	 
    <style type="text/css">
  		[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  			display: none !important;
  		}
  	</style>  
  </head>
  <body>
    <!-- Navbar start-->
    <nav>
      <div class="nav-wrapper" ng-cloak>
        <a href="#" class="brand-logo"><img src="img/logo.png"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li title="Add a card">
            <a href="http://cube26.com/" target="_blank"><i class="large material-icons">link</i></a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- End-->

    <!-- Card Section Start-->    
    <div class="container ng-cloak" ng-controller="bodyController">
      <div class="card">   <!-- https://github.com/ankurmittal092/testrepo -->
        <div class="row" ng-init="searchText='https://github.com/rubinius/rubinius'">
          <div class="input-field col s10 offset-s1">
            <i style='margin-top:10px' class="large material-icons prefix">search</i>
            <input id="icon_prefix" type="text" placeholder="Enter URL for public git repo and press enter" ng-model="searchText" ng-keyup="fnCheckForEnter($event)">
          </div>
        </div>
      </div>
      <div class="row center" ng-init="dataLoaded=true" ng-show="!dataLoaded">
        <img src="img/Preloader_2.gif"/>
      </div>
      <div class="row" ng-show="dataLoaded=='loaded'">
        <div class="center"><h3>Issues in {{repoDetails.name}}</h3></div>
        
        <span>Total Issues: {{repoDetails.open_issues_count}}</span>
        <span class="right">Page {{currentPage}}</span>

        <ul class="collapsible popout" data-collapsible="accordion">
          <li ng-repeat="obj in allIssues | offset:currentOffset | limitTo: pageSize">
            <div class="collapsible-header" ng-click="obj.comments >0 && fnGetComments(obj)"><i class="material-icons" >filter_drama</i>{{obj.title}}</div>

            <div class="collapsible-body">
              <ul class="collection with-header">
                <li class="collection-header" ng-if="obj.body"><b>Body: </b>{{obj.body}}</li>
                <li class="collection-header" ng-if="obj.comments >0"><h6><b>Comments</b></h6> </li>
                <li class="collection-header"  ng-if="obj.comments == 0"><h6><b>Comments:</b> No Comments to display</h6> </li>
                
                <li class="collection-item avatar" ng-if="obj.comments >0 && obj.commentsArray" ng-repeat="comment in obj.commentsArray">
                  <img ng-src="{{comment.user.avatar_url}}" alt="" class="circle">
                  <span class="title">{{comment.user.login}}</span> commented:
                  <p>{{comment.body}}
                  </p>
                  <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
                </li>
                <li class="collection-item row"><div class="col s10"><input placeholder="Comment.." /></div><div class="col s2"><input type="button" value="Post"></div></li>
              </ul>
            </div>

          </li>
        </ul>  
        <div class="row center" ng-show="repoDetails.open_issues_count > 0">
         
          <pagination total-items="repoDetails.open_issues_count" ng-model="currentPage" ng-change="fnChangePage()" max-size="8" class="pagination-sm" boundary-links="true" items-per-page="30"></pagination>

        </div>  
      </div>
    </div>
    <!-- End -->

    <!-- start scripts -->
    <script src="components/requirejs/require.js"></script>
    <script src="js/require.config.js"></script>
	  <script src="js/pageJS/index.js"></script>
    <script>
      require(['materialize']);
    </script>
    <!-- end scripts -->
  </body>
  <!-- end body content -->
</html>